body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.main-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-container {
  width: 500px;
  color: white;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.left-banner {
  height: 50px;
  display: flex;
  color: white;
  font-size: 80px;
  font-weight: bold;
  background-color: transparent; /* Transparent background for the left banner */
  padding-left: 10px;
  padding-right: 10px;
}

.buttons {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.left-button {
  padding: 5px;
  margin: 3px;
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white; /* Black text color */
  background-color: transparent; /* Transparent background */
  cursor: pointer;
  position: relative;
  border: none; /* Remove the button border */
  text-align: left; /* Align text to the left side of the button */
  border-radius: 8px; /* Add rounded corners to all buttons */
  transition: background-color 0.5s ease; /* Add a smooth transition on hover for background color */
}

.left-button:hover {
  color: black; /*Change font colour to black */
  background-color: white; /* Change background color on hover */
}

.left-button.active {
  color: black; /*Change font colour to black */
  background-color: white; /* Change background color on active */
}

.right-container {
  flex-grow: 1;
  position: relative;
}

.iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabcontent {
  display: none;
  width: 100%;
  height: 100%;
}

#sdv-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.right-container .banner {
  height: 200px;
  display: flex;
  padding-left: 5%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  background-color: transparent; /* Transparent background for the bottom banner */
  position: absolute; /* Add absolute positioning */
  bottom: 0; /* Position the banner at the bottom */
  width: 100%; /* Make sure the banner spans the full width */
  z-index: 1; /* Bring the banner to the front */
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  position: absolute; /* Add absolute positioning */
  bottom: 10px; /* Adjust the distance from the bottom of the banner */
  width: 70%; /* Make sure the buttons span the full width */
  z-index: 1; /* Bring the buttons to the front */
}

.nav-button {
  flex: 1;
  padding: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  border-radius: 8px;
  transition: background-color 0.4s ease;
}

.nav-button:hover {
  color: black;
  background-color: white;
}
/* Remove padding from the inner divs within the right primary div */
.right-container .nav-buttons {
  margin-top: 0;
}
